@model IEnumerable<EcommerceHao.ViewModels.HangHoaVM>
@{
    ViewData["Title"] = "search";
    Layout = "_DanhSachHangHoa";
}

<h1>search</h1>
<h6>Co <b>@Model.Count()</b> San pham</h6>
@await Html.PartialAsync("ProductItem", Model)

